<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RedWizards</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RedWizards.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="containers">
            <div class="left-container">
                <img class="container-img" />
            </div>
            <div class="right-container">
                <h1>Welkom</h1>
                <h2></h2>
            </div>
        </div>
        <svg class="loopyloop" width="1440" height="166" viewBox="0 0 1440 166" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M719.5 80L720.5 88L721.5 93L723.5 98L726 102.5L730 106L734 108L738.5 110L744 112L752 114L758.5 115.5L767.5 117.5L778.5 118.5H792.5L803 116.5L812.5 114L823 111L829.5 108.5L845.5 102.5L873 94L903 86.5L934.5 81.5L967 78.5L995.5 77.5L1028.5 78.5L1063.5 81.5L1089.5 86L1115.5 91L1164.5 99L1212.5 105L1246 103.5L1270.5 99L1300 89.5L1335.5 70L1375.5 31L1385.5 21L1400 12L1415.5 5L1430.5 0.5H1440V166H-3V105L719.5 80Z" fill="#E62B3C"/>
        </svg>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
