@using RedWizards.Database;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RedWizards</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RedWizards.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/img/favicon.ico" />
</head>
<body>
    @*HOOFDSTUK 1*@
    <header class="header">
            <nav class="navbar navbar-expand-lg py-3">
                <div class="container">
                    <div id="navbarSupportedContent" class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a href="/home" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="/home#content" class="nav-link">Voorstellingen</a></li>
                            <li class="nav-item"><a href="/organisatie" class="nav-link">Over ons</a></li>
                            <li class="nav-item"><a href="/winkelwagen" class="nav-link">Winkelwagen</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Search</a></li>
                            <li class="nav-item nav-right"><img class="nav-login" id="loginButton" src="~/img/icons/person.png"/></li>
                        </ul>
                    </div>
                </div>
            </nav>
    </header>
    
    <div id="login" class="loginModel">
        <div class="loginModel-content">
            <span class="closeLoginModel">&times;</span>
            <p>Je bent vergeten iets in te vullen!</p>
                            
        </div>
    </div>
    
    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*VOETSTUK*@
    <div class="footer-dark">
        <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 item">
                            <h3>Over Red Wizards</h3>
                            <ul>
                                <li><a href="/organisatie">Organisatie</a></li>
                                <li><a href="#">Nieuws</a></li>
                                <li><a href="/vacatures">Vacatures</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 item">
                        <h3>Kaarten</h3>
                            <ul>
                                <li>Leeftijd 3/9: €4,99</li>
                                <li>Leeftijd 10/15: €7,99</li>
                                <li>Leeftijd 16+: €11,99</li>
                            </ul>
                        </div>
                        <div class="col-md-3 item text">
                            <h3>redwizards.xyz</h3>
                            <p>This webpage is ownership of Red Wizards.<br />Last updated: 3/6 2022</p>
                        </div>
                        <div class="col item social">
                            <a href="https://www.facebook.com"><img src="~/img/icons/footerFacebook.png"></a>
                            <a href="https://www.instagram.com"><img src="~/img/icons/footerInstagram.png"></a>
                            <a href="https://www.tiktok.com"><img src="~/img/icons/footerTiktok.png"></a>
                            <a href="https://www.twitter.com/happpy24"><img src="~/img/icons/footerTwitter.png"></a>
                            <a href="https://www.youtube.com/watch?v=t1JYx8cuZ8g"><img src="~/img/icons/footerYoutube.png"></a>
                        </div>
                    </div>
                    <p class="copyright">RedWizards - h24 &copy; 2022</p>
                </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>