@using RedWizards.Database;
@{
    List<PageContent> nav = ViewData["navigation"] as List<PageContent>;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RedWizards</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RedWizards.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <div class="containers">
    	<div class="left-header"></div>
    	<div class="right-header">
            <nav class="navbar navbar-expand-lg py-3">
                <div class="container">
                    <div id="navbarSupportedContent" class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Voorstellingen</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Over ons</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Winkelwagen</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Search</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
		</div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 item">
                        <h3>Over Red Wizards</h3>
                            <ul>
                                <li><a href="#">Organisatie</a></li>
                                <li><a href="#">Nieuws</a></li>
                                <li><a href="#">Vacatures</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                    </div>
                    <div class="col-md-3 item">
                        <h3>Kaarten</h3>
                            <ul>
                                <li>Leeftijd 3/9: €4,99</li>
                                <li>Leeftijd 10/15: €7,99</li>
                                <li>Leeftijd 16+: €11,99</li>
                            </ul>
                    </div>
                    <div class="col-md-3 item text">
                          <h3>redwizards.com</h3>
                            <p>This webpage is ownership of Red Wizards.<br />Last updated: 3/6 2022</p>
                    </div>
                    <div class="col item social">
                        <a href="#"><img src="~/img/icons/footerFacebook.png"></a>
                        <a href="#"><img src="~/img/icons/footerInstagram.png"></a>
                        <a href="#"><img src="~/img/icons/footerTiktok.png"></a>
                        <a href="#"><img src="~/img/icons/footerTwitter.png"></a>
                        <a href="#"><img src="~/img/icons/footerYoutube.png"></a>
                    </div>
                </div>
                  <p class="copyright">RedWizards - h24 &copy; 2022</p>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
