@using RedWizards.Database;
@{
    List<PageContent> nav = ViewData["navigation"] as List<PageContent>;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RedWizards</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RedWizards.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <div class="containers">
    	<div class="right-container"></div>
    	<div class="right-container">
            <nav class="navbar navbar-expand-lg py-3">
                <div class="container">
                    <div id="navbarSupportedContent" class="collapse navbar-collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Voorstellingen</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Over ons</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Winkelwagen</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Search</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
		</div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
