@{
    ViewData["Title"] = "Error";
}

<div class="containers">
    <div class="left-container">
        <img class="container-img" src=~/img/random/heks404.png alt=404/>
    </div>
    <div class="right-container">
        <h2 class=titel>Error 404: Pagina niet gevonden</h2>
        <p class=midtekst>Oh nee! Je bent op een pagina beland die helemaal niet bestaat! Probeer opnieuw het webadres in te vullen of klik op de knop hieronder om naar de home pagina te gaan!</p>
        <a class="button" href="/home">Terug naar home</a>
    </div>
    <img src="~/img/loopyloop.png" id="content" class="loopyloop"/>
</div>