@import url('https://fonts.googleapis.com/css2?family=Rasa:wght@300;400;500&display=swap');

* {
    font-family: 'Rasa', serif;
}

.navbar {
    transition: all 0.5s;
    font-family: 'Rasa', serif;
    display: flex;    
    z-index: 100;
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: space-around;
}

.navbar .nav-link {
    color: #000;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #000;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #000;
}

/* Change navbar styling on scroll */
    .navbar.active {
        background: #E72B3A;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    }

.navbar.active .nav-link {
    color: #fff;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

.container {
    padding-right: initial;
    padding-left: initial;
    margin-right: initial;
    margin-left: initial;
}

.containers {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left-container {
    background-color: #E72B3A;
    width: 50%;
    height: 900px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.right-container {
    background-color: #E5E5E5;
    width: 50%;
    height: 900px;
    flex: 1;
}

nav {
    position: relative;
    font-size: 24px;
    font-family: 'Rasa', serif;
}

.loopyloop {
    position: relative;
    width: 144%;
    height: 144%;
    left: 0px;
    top: 730px;
}

.rood {
    color: #fff;
    background-color: #E72B3A;
}
