@import url('https://fonts.googleapis.com/css2?family=Rasa:wght@300;400;500&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #E72B3A;
}

* {
    font-family: 'Rasa', serif;
    z-index: 5;
}

/*
█▀ █▀▀ █▀█ █▀█ █░░ █░░ █▄▄ ▄▀█ █▀█
▄█ █▄▄ █▀▄ █▄█ █▄▄ █▄▄ █▄█ █▀█ █▀▄
*/

::-webkit-scrollbar {
    width: 7.5px;
}

::-webkit-scrollbar-track {
    background: #E5E5E5;
}

::-webkit-scrollbar-thumb {
    background: #7e1920;
}

/*
█▄░█ ▄▀█ █░█ █▄▄ ▄▀█ █▀█
█░▀█ █▀█ ▀▄▀ █▄█ █▀█ █▀▄
*/

.navbar {
    transition: all 0.5s;
    font-family: 'Rasa', serif;
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    top: 0px;
    left: 440px;
    background-color: rgba(0,0,0,0);
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: space-around;
}

.navbar .nav-link {
    color: #000;
    flex: 1;
    font-size: 24px;
    position: relative;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #000;
}

/* Change navbar styling on scroll */
.navbar.active {
    background: #E72B3A;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    font-family: 'Rasa', serif;
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    top: 0px;
    left: 0px;
}

.navbar.active .nav-link {
    color: #fff;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

@media (max-width: 1100px) {
    .overlay {
        position: fixed; /* Sit on top of the page content */
        display: inline; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,1); /* Black background with opacity */
        z-index: 99; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }
}

.nav-login {
    flex: 2;
    height: 50px;
    width: 50px;
    vertical-align: bottom;
    padding: 10px;
    cursor: pointer;
}

    .nav-login:hover {
        transform: scale(1.2);
    }

.navbar.active .nav-login {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

/*
█▀▀ █▀█ █▄░█ ▀█▀ ▄▀█ █ █▄░█ █▀▀ █▀█ █▀
█▄▄ █▄█ █░▀█ ░█░ █▀█ █ █░▀█ ██▄ █▀▄ ▄█
*/
.content {
    padding-right: initial;
    padding-left: initial;
}

.containers {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.loopyloop {
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: -12px;
    pointer-events: none
}

.left-container {
    background-color: #E72B3A;
    height: 980px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.right-container {
    background-color: #E5E5E5;
    height: 980px;
    flex: 1;
}

h2 {
    position: center;
    font-size: 64px;
    font-family: 'Rasa', serif;
    z-index: 5;
}

.titel {
    margin-top: 330px;
    margin-left: 70px;
    font-size: 48px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    z-index: 5;
}

.midtekst {
    margin-left: 70px;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    max-width: 600px;
}

.button {
    background-color: #E72B3A;
    border: none;
    color: white;
    padding: 5px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 30px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 70px;
    z-index: 5;
    transition: all .2s ease-in-out;
}

    .button:hover {
        color: #c3c3c3;
        transform: scale(1.05);
    }

.socialmedia {
    margin-left: 70px;
    margin-top: 40px;
    width: 280px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

.socialimage {
    display: flex;
    width: 40px;
    height: 40px;
    z-index: 5;
}

.bigtitle {
    font-size: 64px;
    color: #fff;
    text-align: center;
    line-height: 1.8;
}


/*
█░█ █▀█ █▀█ █▀█ █▀ ▀█▀ █▀▀ █░░ █░░ █ █▄░█ █▀▀ █▀▀ █▄░█
▀▄▀ █▄█ █▄█ █▀▄ ▄█ ░█░ ██▄ █▄▄ █▄▄ █ █░▀█ █▄█ ██▄ █░▀█
*/

.voorstellingenplek {
    color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.voorstelling {
    background-color: #E5E5E5;
    color: #1b1f22;
    width: 70%;
    border-radius: 10px;
    padding: 20px;
    display: inline-flex;
}

.voorstelling-table {
    padding-left: 10px;
    table-layout: fixed;
    width: 70%;
    margin-left: 60px;
}

.voorstelling-title {
    font-size: 36px;
    width: 70%;
    font-weight: bold;
}

.voorstelling-age {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

.voorstelling-content {
    font-size: 24px;
}

.date {
    font-size: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.voorstelling-image {
    width: 40%;
    height: 100%;
    border-radius: 10px;
}

.ticketbutton {
    background-color: #E72B3A;
    border: none;
    color: white;
    padding: 5px 40%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 30px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

    .ticketbutton:hover {
        color: #c3c3c3;
        transform: scale(1.05);
    }

.containerCoverImg {
    max-height: 80%;
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(0, 0, 0, 0.40);
}

.containerCoverImgWinkel {
    max-height: 60%;
    max-width: 60%;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(0, 0, 0, 0.40);
}

.voorstellingPageTable {
    margin-top: 350px;
    margin-left: 70px;
    z-index: 5;
    max-width: 80%;
}

.movie-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    margin-left: 60px;
}

    .movie-container select {
        background-color: #E5E5E5;
        color: black;
        border-radius: 5px;
        border: 2px solid #630C12;
        height: 3vw;
        width: 10vw;
    }

        .movie-container select option {
            background-color: #ddd;
            color: black;
            border: 0;
            border-radius: 500px;
            font-size: 14px;
            margin-left: 10px;
            padding: 5px 15px 5px 15px;
        }

.seat {
    background-color: #630C12;
    height: 4vw;
    width: 4.8vw;
    margin: 1vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .seat.selected {
        background-color: #58d733;
    }

    .seat.occupied {
        background-color: #04207d;
    }

    .seat:nth-of-type(2) {
        margin-right: 18px;
    }

    .seat:nth-last-of-type(2) {
        margin-left: 18px;
    }

    .seat:not(.occupied):hover {
        cursor: pointer;
        transform: scale(1.2);
    }

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

    .showcase li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }

        .showcase li small {
            margin-left: 2px;
        }

.rij {
    display: flex;
    justify-content: center;
}

.podium {
    position: relative;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.podiumTekst {
    color: white;
    font-size: 24px;
    text-align: center;
}

.payingtext {
    font-size: 24px;
    text-align: center;
    margin: auto;
}

.paying {
    max-width: 30%;
    background: #E5E5E5;
    padding: 10px;
    margin: auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 4px solid #630C12;
    display: flex;
    justify-content: center;
}



    .paying .ticketbutton {
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        border-radius: 20px;
        margin-left: 10px;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }

.orgAlgemeen {
    color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7.5%;
}

.orgLeft {
    background-color: #E5E5E5;
    color: #1b1f22;
    width: 25%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orgRight {
    background-color: #E5E5E5;
    color: #1b1f22;
    width: 25%;
    border-radius: 10px;
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.orgTekst {
    font-size: 24px;
}

.orgImg {
    width: 70%;
    height: auto;
    position: center;
}

/*
█▀▀ █▀█ █▄░█ ▀█▀ ▄▀█ █▀▀ ▀█▀ █▀█ ▄▀█ █▀▀ █▀▀
█▄▄ █▄█ █░▀█ ░█░ █▀█ █▄▄ ░█░ █▀▀ █▀█ █▄█ ██▄
*/
.phone {
    width: 50%;
    height: 50%;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

.voorgronddoos {
    position: fixed;
    max-width: 40%;
    background: #E5E5E5;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #630C12;
}

/*
█▀▀ █▀█ █▄░█ ▀█▀ ▄▀█ █▀▀ ▀█▀ █▀▀ █▀█ █▀█ █▀▄▀█
█▄▄ █▄█ █░▀█ ░█░ █▀█ █▄▄ ░█░ █▀░ █▄█ █▀▄ █░▀░█
*/

.form-style {
    max-width: 40%;
    background: #E5E5E5;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 4px solid #630C12;
}

    .form-style ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        .form-style ul li {
            display: block;
            margin-bottom: 10px;
            min-height: 35px;
        }

            .form-style ul li .field-style {
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                padding: 8px;
                outline: none;
                border: 1px solid #bbb;
                -webkit-transition: all 0.30s ease-in-out;
                -moz-transition: all 0.30s ease-in-out;
                -o-transition: all 0.30s ease-in-out;
            }

                .form-style ul li .field-style:focus {
                    box-shadow: 0 0 5px #B0CFE0;
                    border: 1px solid #B0CFE0;
                }

            .form-style ul li .field-split {
                width: 49%;
            }

            .form-style ul li .field-full {
                width: 100%;
            }

            .form-style ul li input.align-left {
                float: left;
            }

            .form-style ul li input.align-right {
                float: right;
            }

            .form-style ul li textarea {
                width: 100%;
                height: 100px;
            }

            .form-style ul li input[type="button"],
            .form-style ul li input[type="submit"] {
                background-color: #E72B3A;
                border: 1px solid #E72B3A;
                display: inline-block;
                cursor: pointer;
                color: #FFFFFF;
                border-radius: 20px;
                padding: 10px 46%;
                text-decoration: none;
                transition: all .2s ease-in-out;
            }

                .form-style ul li input[type="button"]:hover,
                .form-style ul li input[type="submit"]:hover {
                    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
                    background-color: #28739E;
                    transform: scale(1.05);
                }

.form-style2 {
    max-width: 60%;
    background: #E5E5E5;
    padding: 30px;
    margin: 20px 0px 0px 60px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 4px solid #630C12;
}

    .form-style2 ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        .form-style2 ul li {
            display: block;
            margin-bottom: 10px;
            min-height: 35px;
        }

            .form-style2 ul li .field-style {
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                padding: 8px;
                outline: none;
                border: 1px solid #bbb;
                -webkit-transition: all 0.30s ease-in-out;
                -moz-transition: all 0.30s ease-in-out;
                -o-transition: all 0.30s ease-in-out;
            }

                .form-style2 ul li .field-style:focus {
                    box-shadow: 0 0 5px #B0CFE0;
                    border: 1px solid #B0CFE0;
                }

            .form-style2 ul li .field-full {
                width: 100%;
            }

            .form-style2 ul li textarea {
                width: 100%;
                height: 100px;
            }

            .form-style2 ul li input[type="button"],
            .form-style2 ul li input[type="submit"] {
                background-color: #E72B3A;
                border: 1px solid #E72B3A;
                cursor: pointer;
                color: #FFFFFF;
                border-radius: 20px;
                width: 100%;
                margin-left: 0px;
                text-decoration: none;
                transition: all .2s ease-in-out;
            }

                .form-style2 ul li input[type="button"]:hover,
                .form-style2 ul li input[type="submit"]:hover {
                    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
                    background-color: #630C12;
                    transform: scale(1.05);
                }

.field-validation-error {
    color: red;
}

/* The Modal (background) */
.popupModel {
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.popupModal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    border: 4px solid #630C12;
    width: 30%;
    font-size: 20px;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.popupModal-content ul {
    list-style: none;
}

.popupModal-content ul li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em; 
}

/* The Close Button */
.closeModel {
    color: #999;
    float: right;
    font-size: 28px;
    cursor: pointer;
}

    .closeModel:hover,
    .closeModel:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

#map {
    height: 360px;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(0, 0, 0, 0.40);
}

/* 
█▀▀ █▀█ █▀█ ▀█▀ █▀▀ █▀█
█▀░ █▄█ █▄█ ░█░ ██▄ █▀▄
*/

.footer-dark {
    padding: 50px 500px;
    color: #fff;
    background-color: #630C12;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark li {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-dark li a:hover {
    opacity: 1.0;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark img {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark img > a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

.smurf {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 10s ease-in-out;
}

.smurf:hover {
    transform: rotate(10000deg);
}

.spelletjes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}