@using RedWizards.Database
@model List<PageContent>
@{
    ViewData["Title"] = "Home";
}
<div class="containers">
    <div class="left-container">
        <img class="container-img" src=~/img/icon.jpg alt=RWLogo/>
    </div>
    <div class="right-container">
        <h2 class=titel>Welkom</h2>
        <p class=midtekst>Bij red wizards houden wij er van om magie te<br />aan bezoekers met een kleine prijs.<br />Kom een van onze voorstellingen bekijken<br />door naar onder te scrollen of te klikken op de<br />knop hier onder!</p>
        <a class="button" href="#voorstellingen">Voorstellingen</a>
        <div class="socialmedia">
            <a href="#"><img class="socialimage" src="~/img/icons/footerFacebook.png"></a>
            <a href="#"><img class="socialimage" src="~/img/icons/footerInstagram.png"></a>
            <a href="#"><img class="socialimage" src="~/img/icons/footerTiktok.png"></a>
            <a href="#"><img class="socialimage" src="~/img/icons/footerTwitter.png"></a>
            <a href="#"><img class="socialimage" src="~/img/icons/footerYoutube.png"></a>
        </div>
    </div>
</div>
<svg class="loopyloop" width="1440" height="166" viewBox="0 0 1440 166" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M719.5 80L720.5 88L721.5 93L723.5 98L726 102.5L730 106L734 108L738.5 110L744 112L752 114L758.5 115.5L767.5 117.5L778.5 118.5H792.5L803 116.5L812.5 114L823 111L829.5 108.5L845.5 102.5L873 94L903 86.5L934.5 81.5L967 78.5L995.5 77.5L1028.5 78.5L1063.5 81.5L1089.5 86L1115.5 91L1164.5 99L1212.5 105L1246 103.5L1270.5 99L1300 89.5L1335.5 70L1375.5 31L1385.5 21L1400 12L1415.5 5L1430.5 0.5H1440V166H-3V105L719.5 80Z" fill="#E62B3C"/>
</svg>

<h1 class="bigtitle" id="voorstellingen">Voorstellingen</h1>
<div class="voorstellingenplek">
    <div class="voorstelling">
        <div class="titleage">
            <h1>Voorstelling</h1>
            <h4>3+</h4>
        </div>
        <p class="voorstellingcontent">VoorstellingDesc.</p>
        <div class="bottomvoorstelling">
            <a class="ticketbutton" href="#">Voorstellingen</a>
            <p class="date">da/te/date</p>
            <img class="voorstellingimage" src="~/img/voorstellingen/sintsingalong.png"/>
        </div>
    </div>
    <div class="voorstelling">
        <h3>Voorstelling</h3>
        <p>VoorstellingDesc.</p>
    </div>
</div>
