@model RedWizards.Database.Voorstelling
@{
    ViewData["Title"] = "Vacatures";
}
<div class="containers">
    <div class="left-container">
        <img class="container-img" src=~/img/random/login.png alt=RWLogo/>
    </div>
    <div class="right-container">
        <h2 class=titel>Login</h2>
        <p class=midtekst></p>
        <a class="button" href="#">Login</a>
    </div>
    <img src="~/img/loopyloop.png" id="content" class="loopyloop"/>
</div>