@model RedWizards.Database.Voorstelling
@{
    ViewData["Title"] = "Vacatures";
}
<div class="containers">
    <div class="left-container">
        <img class="container-img" src=~/img/random/login.png alt=RWLogo/>
    </div>
    <div class="right-container">
        <h2 class=titel>Login</h2>
        <p class=midtekst></p>
        <form class="form-style2">
            <ul>
                <li>
                    <input type="text" name="username" class="field-style field-full align-none" placeholder="Naam" />
                </li>
                <li>
                    <input type="text" name="password" class="field-style field-full align-none" placeholder="Wachtwoord" />
                </li>
                <li>
                    <input class="button" type="submit" value="Verstuur"/>
                </li>
            </ul>
        </form>
    </div>
    <img src="~/img/loopyloop.png" id="content" class="loopyloop"/>
</div>