@model RedWizards.Database.Voorstelling
@{
    ViewData["Title"] = "Organisatie";
}
<div class="containers">
    <div class="left-container">
        <img class="container-img" src=~/img/random/overons.png alt=overons/>
    </div>
    <div class="right-container">
        <h2 class=titel>Over Red Wizards</h2>
        <p class=midtekst>Het theater ‘Red Wizards’, voornamelijk bekend als ‘Het Grote Masker’ heeft de laatste paar jaar niet veel bezoekers gehad. Dit probleem was tijdens de covid-19 periode alleen maar versterkt. Bezoekers vinden het theater te ouderwets, en willen vernieuwing zien. Door al deze problemen staat het theater al te lang in de schaduw.</p>
        <a class="button" href="#content">Leer meer</a>
    </div>
    <img src="~/img/loopyloop.png" id="content" class="loopyloop"/>
</div>

<h1 class="bigtitle">Een nieuw begin</h1>