@{
    ViewData["Title"] = "Vacatures";
}
<div class="containers">
    <div class="left-container">
        <img class="container-img" src=~/img/icon.jpg alt=RWLogo/>
    </div>
    <div class="right-container">
        <h2 class=titel>Oke dus...</h2>
        <p class=midtekst>Leuk dat je aan het exploren bent maar ik heb geen zin om nog een hele form te maken voor eventuele vacatures... Forms werken toch wel, klik maar op 'contact'. <br />Als je nog een leuk spelletje wilt spelen, klik dan op de knop 'spelletje'</p>
        <a class="button" href="/contact#content">Contact</a>
        <a class="button" href="#content">Spelletje!</a>
    </div>
    <img src="~/img/loopyloop.png" id="content" class="loopyloop"/>
</div>

<div class="spelletjes">
     <iframe frameborder="0" width="930" height="740" src="https://spaceinvaders-3.vincentspeijer.repl.co?embed=true"></iframe>
     <iframe frameborder="0" width="530" height="1100" src="https://bit.ly/3Oaqxaa"></iframe>
</div>
