@using RedWizards.Database
@model Voorstelling
@{
    ViewData["Title"] = "Voorstelling";
}

<div class="containers">
    <div class="left-container">
        <img class="containerCoverImg" src=@Model.Img alt=@Model.Name/>
    </div>
    <div class="right-container">
        <table class="voorstellingPageTable"> 
            <tr>
                <th class="voorstelling-title">@Model.Name</th>
                <th class="voorstelling-age">@Model.Age+</th>
            </tr>
            <tr>
                <td class="voorstelling-content" colspan="2">@Model.Desc_Long</td>
            </tr>
            <tr>
                <td colspan="2"><a class="ticketbutton" href="#content">Tickets</a></td>
            </tr>
        </table>
    </div>
    <img src="~/img/loopyloop.png" id="content" class="loopyloop"/>
</div>

<h1 class="bigtitle">@Model.Name</h1>

<div>
    <div class="column">
        <div class="movie-container">
        <select id="movie">
            <option value="4,99">Leeftijd 3/9 jaar (€4,99)</option>
            <option value="7,99">Leeftijd 10/15 jaar (€7,99)</option>
            <option value="11,99">Leeftijd 16+ jaar (€11,99)</option>
        </select>
    </div>

    <ul class="showcase">
        <li>
            <div class="seat"></div>
            <small>Beschikbare plaatsen</small>
        </li>
        <li>
            <div class="seat selected"></div>
            <small>Gekozen plaatsen</small>
        </li>
        <li>
            <div class="seat occupied"></div>
            <small>Bezette plaatsen</small>
        </li>
    </ul>

    <div class="container">

        <div class="rij">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>
            <div class="rij">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>
            <div class="rij">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
        </div>
    </div>

    <p class="text">Je hebt <span id="count">0</span> stoelen geselecteerd voor een prijs van <span id="total">0</span> euro</p>

    <a class=ticketbutton href="tickets/betalen">Ga door naar het betalen--></a>

    </div>
</div>