@model RedWizards.Database.Voorstelling
@{
    ViewData["Title"] = "Winkelwagen";
}
<div class="containers">
    <div class="left-container">
        <img class="containerCoverImgWinkel" src=~/img/random/shoppingwizard.jpg alt=wiz/>
    </div>
    <div class="right-container">
        <h2 class=titel>Winkelwagen</h2>
        <p class=midtekst>Dit is een niet werkende winkelwagen! Doneer nu de programmeur zodat er meer koffie gekocht kan worden</p>
        <a class="button" href="https://www.paypal.com/donate/?hosted_button_id=NXKZJYBM6UR5Y">Doneer met paypal</a>
    </div>
    <img src="~/img/loopyloop.png" id="content" class="loopyloop"/>
</div>