@model RedWizards.Database.Voorstelling
@{
    ViewData["Title"] = "Winkelwagen";
}
<div class="containers">
    <div class="left-container">
        <img class="container-img" src=~/img/icon.jpg alt=RWLogo/>
    </div>
    <div class="right-container">
        <h2 class=titel>Welkom</h2>
        <p class=midtekst>Bij red wizards houden wij er van om magie te<br />aan bezoekers met een kleine prijs.<br />Kom een van onze voorstellingen bekijken<br />door naar onder te scrollen of te klikken op de<br />knop hier onder!</p>
        <a class="button" href="#content">Voorstellingen</a>
    </div>
    <img src="~/img/loopyloop.png" id="content" class="loopyloop"/>
</div>